<!doctype html>
<html>
    <form class="w3-container" action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input text="w3-input w3-border w3-hover-border-black" placeholder="Enter full name"  style="width:100%;" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Username</label>
          <input text="w3-input w3-border w3-hover-border-black" placeholder="Enter username"  style="width:100%;" type="text" name="user" required>
        </div>
        <div class="w3-section">
          <label>Password</label>
          <input type="password" id="myInput" password="w3-input w3-border w3-hover-border-black"placeholder="Enter a password" style="width:100%;" required>
          <input type="checkbox" onclick="">Show Password
        </div>

    </li>
    <li class="w3-light-grey w3-padding-24">
      <button class="w3-button w3-green w3-padding-large">Login</button>
    </li>
  </ul>
</div>